header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 32px;
}
.logo {
    color: #0a5b91;
    background: url(../images/tag.jpg) no-repeat center;
    background-size: contain;
    width: 96px;
    height: 44px;
    padding-left: 100px;
    font-size: 1.6em;
    font-weight: bold;
}
.description {
    width: 100%;
    margin: 1em auto 0;
    max-width: 800px;
    padding: 0 32px;
}