#results {
    background-color: $resultsBack;
    p {
        background-color: $resultsBack;
        padding: 8px;
    }
    p.error {
        color: red;
        font-weight: bold;
    }
}

.table td {
    padding: 4px 8px;
}